body{
    background-color: rgb(255, 240, 253);
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
#about-btn{
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(255, 218, 233);
    border: 1px solid rgb(0, 0, 0);
}
#edu-btn{
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(255, 218, 233);
    border: 1px solid rgb(0, 0, 0);
}
#hobby-btn{
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(255, 218, 233);
    border: 1px solid rgb(0, 0, 0);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.content {
  background: #ffdbdb;
  padding: 24px;
  width: 320px;
  height: 270px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
}
.closeBtn{
    background-color: rgb(255, 218, 233);
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 16px;
    border: 1px solid rgb(255, 103, 103);
}

#content {
    width: 500px;
    margin: 0 auto;
    background: rgb(255, 238, 241);
    border-radius: 18px;
    padding: 16px;
}