body{
    background-color: rgb(255, 240, 253);
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
#about-btn{
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(255, 218, 233);
    border: 1px solid rgb(0, 0, 0);
}
#edu-btn{
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(255, 218, 233);
    border: 1px solid rgb(0, 0, 0);
}
#hobby-btn{
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(255, 218, 233);
    border: 1px solid rgb(0, 0, 0);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}